.filter-container {
  width: 84%;
  background-color: transparent;
  color: var(--grey-color);
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  margin: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
  border: 1px solid #f0f0f0;
  /* align-items: flex-end; */
  position: relative;
  transition: .2s;
}

.filter-container p {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 16px;
  margin-left: 8px;
}



.filter-container h3 {
  margin-left: 8px;
  font-weight: 300;
  color: var(--secondary-color);
  font-size: 16px;
}

.filter-container .inputContainer {
  margin-bottom: 5px;
  width: 186px;
}

.filter-container label {
  display: block;
  margin-bottom: 2px;
}

.filter-container select,
.filter-container input {
  /* width: 150px; */
  /* height: 40px; */
  /* padding: 8px; */
  border: 1px solid var(--light-grey-color);
  border-radius: 4px;
  margin: 5px;
  font-size: 14px;
  font-weight: 300;
  color: var(--dark-grey-color);
}

.filter-container select {
  height: 30px;
  width: 150px;
  text-wrap: wrap;
}

.inputContainer > input, .inputContainer > select {
  width: 166px;
  height: 40px;
  padding-left: 3px;
  box-sizing: border-box;
}

.checkbox{
  display: flex; /* o display: inline-flex; */
  flex-direction: column;
  margin-top: 6px;
}

.checkbox label {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.checkbox input {
    appearance: none;
    margin: 0;
    font: inherit;
    color: white;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--grey-color);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.checkbox input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondary-color);
  }

  .checkbox input:checked::before {
    transform: scale(1);
  }


.filter-container .filterbutton {
  background-color: white;
  color: var(--secondary-color);
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
}

.filter-container .filterbutton:hover {
  background-color: var(--light-grey-color);
}

.arrowContainer {
  position: absolute;
  right: 8px;
  top: 0px;
  height: 39px;
  width: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowContainer img {
  width: 15px;
  height: 10px;
}

.arrowContainer .upsideDown {
  transform: scaleY(-1);
}
