/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #AB172F;
  --secondary-color: #024B59;
  --light-grey-color: #F0F0F0;
  --mid-grey-color: #CAC9C9;
  --grey-color: #7F7F7F;
  --dark-grey-color: #4E4E4E;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
