@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: #AB172F;
  --secondary-color: #024B59;
  --grey-color: #7F7F7F;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
